[[source]]

url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = false
name = "pypi"


[packages]

appnope = "==0.1.0"
decorator = "==4.1.2"
jedi = "==0.11.0"
parso = "==0.1.0"
pexpect = "==4.3.0"
pickleshare = "==0.7.4"
prompt-toolkit = "==1.0.15"
ptyprocess = "==0.5.2"
pygments = "==2.2.0"
pyyaml = "*"
selenium = "==3.8.0"
simplegeneric = "==0.8.1"
traitlets = "==4.3.2"
wcwidth = "==0.1.7"
requests = "*"
py-dateutil = "*"
"urlparse3" = "*"
"urllib3" = "*"
pyqrcode = "*"
pyhtmlparser = "*"
"html5lib" = "*"
pyqueue = "*"
cmuclmtk = "*"
apscheduler = "*"
argparse = "*"
mock = "*"
pytz = "*"
pydub = "*"
pypng = "*"
pyaudio = "*"
snowboy = "*"
semantic = "*"
aliyun-python-sdk-iot = "*"
"aliyun-python-sdk-core-v3" = "*"


[dev-packages]

nose = "*"
ipython = "==6.2.1"
ipython-genutils = "==0.2.0"
