appnope==0.1.0
APScheduler==3.4.0
argh==0.26.2
asn1crypto==0.24.0
blinker==1.4
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
construct==2.8.17
cryptography==1.8.2
cssutils==1.0.2
decorator==4.1.2
EditorConfig==0.12.1
flake8==3.5.0
gpiozero==1.4.0
h2==2.6.2
hpack==3.0.0
html2text==2016.9.19
hyperframe==4.0.2
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
jsbeautifier==1.6.14
kaitaistruct==0.6
mccabe==0.6.1
numpy==1.13.3
packaging==16.8
paho-mqtt==1.3.1
parso==0.1.0
passlib==1.7.1
pathtools==0.1.2
pew==1.1.2
pexpect==4.3.0
pickleshare==0.7.4
pigpio==1.38
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.2.3
PyAudio==0.2.11
pycodestyle==2.3.1
pycparser==2.18
pycrypto==2.6.1
pyflakes==1.6.0
Pygments==2.2.0
pyOpenSSL==16.2.0
pyparsing==2.2.0
pyperclip==1.5.32
pytz==2017.3
quantities==0.12.1
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
sortedcontainers==1.5.9
tornado==4.4.3
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.22
urwid==1.3.1
watchdog==0.8.3
